{% extends "base.html" %}
{% load thumbnail %}
{% load relationship_tags %}

{% block title %}
	{{ profile.name }}
{% endblock %}

{% block content %}
	{{ request.user }}
	<div id="profile-container">
		<img src="{{ profile_pic.image.profile_pic.url }}" alt="" />
		<div id="name">{{ profile.name }}</div>

		{% if_relationship user profile.user "following" %}
			<form method="POST" action="{{ profile.user|remove_relationship_url:"following" }}?next={{ request.path }}">{% csrf_token %}
				{{ form.as_p }}
			<input type="submit" value="Unfollow"/>
		{% else %}
			<form method="POST" action="{{ profile.user|add_relationship_url:"following" }}?next={{ request.path }}">{% csrf_token %}
				{{ form.as_p }}
			<input type="submit" value="Follow"/>
		{% endif_relationship %}
		<br/><a href="{% url userprofile_user_profile profile.user.username %}">My Profile</a>
		<div id="followers"><a href="{% url relationship_list profile.user.username "followers"%}">Followers</a></div>
		<div id="following"><a href="{% url relationship_list profile.user.username "following"%}">Following</a></div>
		<div id="shot-bio">{{ profile.short_bio }}</div>
		<div id="dob">{{ profile.dob }}</div>
		<div id="gender">{{ profile.gender }}</div>
		<div id="url"><a href="{{ profile.url }}">{{ profile.url }}</a></div>
		<div id="about">{{ profile.about }}</div>
	</div>
{% endblock %}
