Django==1.4.3
MySQL-python==1.2.4b4
PIL==1.1.7
South==0.7.6
Whoosh==2.5.0
argparse==1.2.1
distribute==0.6.28
dj-database-url==0.2.1
-e git+ssh://git@github.com/justquick/django-activity-stream.git@36f0bba25b6c9e9593a1179c2f1feeea58c39d1c#egg=django_activity_stream-dev
django-debug-toolbar==0.9.4
-e git+ssh://git@github.com/caffeinehit/django-follow.git@765a4795e58f57fbf96efdb7838d0c7222db2e56#egg=django_follow-dev
django-haystack==1.2.7
django-ratings==0.3.7
django-registration==0.8
django-tagging==0.3.1
-e git+ssh://git@github.com/SmileyChris/easy-thumbnails.git@4f5e7552f0e718543b0f06f327718efa3820315d#egg=easy_thumbnails-dev
gunicorn==0.17.2
-e git+https://github.com/harshulj/django-privatebeta.git@2b5ddb6ff3c8a8e795b72d42cdfe196e6266072e#egg=privatebeta-dev
psycopg2==2.4.6
wsgiref==0.1.2
