{% extends "base.html" %}
{% load thumbnail %}

{% block page_specific_media %}
<link href="{{ STATIC_URL }}polls_and_opinions/css/main.css" rel="stylesheet" />
{% endblock %}

{% block title %}
	{{ poll }}
{% endblock %}

{% block content %}
	<h2 id="poll_question">{{ poll.question }}</h2>
	<p id="closes_on"><b>Closes on: </b>{{ close_date|date:"d b Y" }}</p>
	<p><span class="highlighted">Tags : </span>{{ poll.tags }}</p>
	<div id="poll_rating_stats">
		<p> Average Rating : {{ poll.rating.get_rating }}
			{% if poll_rating_user %}
				<br/>Your Rating : {{ poll_rating_user }}
			{% endif %}
		</p>
	</div>
	{% if user.is_authenticated %}
	<div id="rate-poll">
	<form action="{% url polls_and_opinions_poll_rating_submit id=poll.id %}" method="POST">
		{% csrf_token %}
		{{ rating_form.as_p }}
		<input type="submit" value="Rate"/>
	</form>
	</div>
	<div id="poll_form">
		<form action="{% url polls_and_opinions_vote_submit id=poll.id %}" method="POST">
			{% csrf_token %}
			{{ vote_form.as_p }}
			<input type="submit" value="Vote" />
		</form>
	</div>

	{% else %}
	<div id="poll_choices">
		<table>
			{% for choice in choices %}
				<tr>
					<td>{{ choice.text }}</td><td>{{ choice.votes }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	{% endif %}
	
	<div id="poll_opinions">
		<h4>Opinions</h4>
		{% if user.is_authenticated %}
		<div id="opinion_form">
			<form action="{% url polls_and_opinions_poll_opinion_submit id=poll.id %}" method="POST">
				{% csrf_token %}
				{{ opinion_form.as_p }}
				<input type="submit" name={{ opinion_submit_name }} value={{ opinion_submit_value}} />
			</form>
		</div>
		{% endif %}
		{% for opinion in opinions %}
		<div class="opinion">
			<p>
			{{ opinion.text }}
			</p>
			<p>
			by : {{ opinion.author }}<br/>
			on {{ opinion.created_on|date:"d b Y" }}
			</p>
		</div>
		{% endfor %}
	</div>

{% endblock %}
