{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
	{{ poll }}
{% endblock %}

{% block content %}
	<h2>{{ poll.question }}</h2>
	<p id="closes_on"><b>Closes on: </b>{{ close_date|date:"d b Y" }}</p>
	<div id="poll_choices">
		<table>
			{% for choice in choices %}
				<tr>
					<td>{{ choice.text }}</td><td>{{ choice.votes }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	
	<div id="poll_opinions">
		<h4>Opinions</h4>
		{% for opinion in opinions %}
		<div class="opinion">
			<p>
			{{ opinion.text }}
			</p>
			<p>
			by : {{ opinion.author }}<br/>
			on {{ opinion.created_on|date:"d b Y" }}
			</p>
		</div>
		{% endfor %}
	</div>

{% endblock %}
