<div id="header">
    <ul class="head-nav">
        <li class="head-nav-link"><a href="/">Doxa</a></li>
        <li class="head-nav-link"><a href="{% url polls_and_opinions_polls_list %}">Polls</a></li>
        {% if user.is_authenticated %}
        <li class="dropdown head-nav-link right">
            <a class="dropdown-toggle" href="">Account</a>
            <div class="submenu">
                <ul class="head-nav-links">
                    <li><a href="{% url userprofile_edit_profile %}">Edit Profile</a></li>
                    <li><a href="{% url invitation_invite %}">Invite People</a></li>
                    <li><a href="{% url auth_password_change  %}">Change Password</a></li>
                    <li><a href="{% url auth_logout %}">Logout</a></li>
                </ul>
            </div>
        </li>
        <li class="head-nav-link right"><a href="{% url notifications:all %}">Notifications</a></li>
        <li class="head-nav-link right"><a href="{% url userprofile_user_profile user.username %}">Profile</a></li>
        <li class="head-nav-link right"><a href="{% url haystack_search %}">Search</a></li>
        {% else %}
        <li class="head-nav-link"><a href="{% url auth_login %}">Login</a></li>
        {% endif %}
    </ul>
</div>
